body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label, input, button {
    display: block;
    margin-bottom: 10px;
}

.weakness {
    border: 2px solid #000;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: inline-block;
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    background-size: cover;
}
