<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokémon Go Toolkit</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Pokémon Go Toolkit</h1>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-7">
                    <h2>TYPE WEAKNESS CHECKER</h2>
                        <div>
                            <form method="POST" action="/weakness">
                                <div class="container">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label for="pokemon_name" class="form-label text-left">ENTER A POKÉMON:</label>
                                            <input type="text" id="pokemon_name" name="pokemon_name" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label for="variants" class="form-label text-left">SPECIFICATION:</label>
                                            <input type="text" id="variants" name="variants" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">FIND WEAKNESSES</button>
                            </form>
                        </div>

                        <div>
                            {% if pokemon_name_w %}
                            <h3>WEAKNESSES:</h3>
                                {% if weaknesses %}
                                    <table class="table">
                                        <thead class="text-center">
                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbdoy class="text-center">
                                            {% for pokemon, weakness_list in weaknesses.items() %}
                                                <tr>
                                                    <td>{{ pokemon.upper() }}</td>
                                                    <td>
                                                        {% for pokemon_weakness in weakness_list %}
                                                            <div class="col-6 weakness d-flex align-items-center" style="margin-right: 10px; margin-bottom: 10px">
                                                                <img src="{{ url_for('static', filename='images/' + pokemon_weakness.lower() + '.png') }}" style="width: 30px; height: 30px; margin-right: 5px">
                                                                {{ pokemon_weakness.upper() }}
                                                            </div>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbdoy>
                                    </table>
                                {% else %}
                                    <h4>NO POKEMON FOUND</h4>
                                {% endif %}
                            {% endif %}
                        </div>
                </div>

                <div class="col-5">
                    <h3>CURRENT RAID BOSSES</h3>
                    {% if g.bosses %}
                        <table class="table">
                            <thead class="text-center">
                                <tr>
                                    {% for tier in g.bosses.keys() %}
                                        <th scope="col">{{ tier }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% set max_rows = g.bosses.values() | map('length') | max %}
                                {% for i in range(max_rows) %}
                                    <tr>
                                        {% for tier, pokemon_list in g.bosses.items() %}
                                            <td>{{ pokemon_list[i] if i < (pokemon_list | length) else "" }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-7">
                    <h2>BEST MOVESET FINDER</h2>
                    <div>
                        <form method="POST" action="/moveset">
                            <div class="container">
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="pokemon_name" class="form-label text-left">ENTER A POKÉMON:</label>
                                        <input type="text" id="pokemon_name" name="pokemon_name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label for="variants" class="form-label text-left">SPECIFICATION:</label>
                                        <input type="text" id="variants" name="variants" class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="elite_tm" name="elite_tm" style="scale: 1.5">
                                            <label class="form-check-label text-left" for="elite_tm">INCLUDE ELITE MOVES</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">FIND BEST MOVESET</button>
                        </form>
                    </div>                                                         
                        {% if pokemon_name_m %}
                            <h3>BEST MOVESET</h3>
                            {% if moveset %}
                                <table class="table">
                                    <thead class="text-center">
                                        <tr>
                                            <th></th>
                                            <th>FAST MOVE</th>
                                            <th>CHARGED MOVE</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        {% for pokemon, moves in moveset.items() %}
                                            <tr>
                                                <td>{{ pokemon.upper() }}</td>
                                                <td>{{ moves['fast move'] }}</td>
                                                <td>{{ moves['charged move'] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h4>NO POKEMON FOUND</h4>
                            {% endif %}
                        {% endif %}
                    </div> 
                </div>
            </div>
        </div>
    </body>
</html>